* {
    font-family: "Gowun Dodum", sans-serif;
}

.mytitle {
    width: 100%;
    height: 250px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://movie-phinf.pstatic.net/20210715_95/1626338192428gTnJl_JPEG/movie_image.jpg");
    background-position: center;
    background-size: cover;
}

.mytitle > button {
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    margin-top: 10px;
}

.mytitle > button:hover {
    border: 2px solid white;
}

.mycoment {
    color: gray;
}

.wrap {
    width: 1200px;
    margin: 20px auto 0px auto;
}
